<!--App Login Page-->
{% extends 'expensetracker/header.html' %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
<div class ="row">
    <div class="col-12 pl-0 pr-0">
        <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #bebebe;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user_auth/">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user_auth/register_user/">Sign Up</a>
                </li>         
            <ul>
        </nav>
    </div>
</div>
{% endblock %}        

{% block header %}
<div class="container">
    <div class="text-center pt-5 pb-2 display-5">
        <h1 class="display-6"> Login as User </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="text-center">
    <form action="{% url 'user_auth:authenticate_user' %}" method="post">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="User" required>
        <br/><br/>
        <label>Password</label>
        <input type="password" name="password" required>
        <br/><br/>
        <input type="submit" value="Login" class="btn btn-dark">
    </form>
    <p class="text-center pt-3">Don't have an account? <a href="/user_auth/register_user/">Click here to register</a></p>
</div>
{% endblock %}